<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Corporate Customer Order List</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body style="background-color:rgb(134,191,188);font-size: 17px;">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding: 16px;font-size: 19px;">
            <div class="container"><a class="navbar-brand" href="profile_e" style="font-size: 40px;">Pharmacy</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link " href="profile_e">Profile</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="selling_e">Selling</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="order_list_e">Order List</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="received_e">Received&nbsp;</a></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Others</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="co_order_list_e">Corporate Customer Order List</a><a class="dropdown-item" role="presentation" href="co_selling_e">Send Order to Corporate Customer</a><a class="dropdown-item" role="presentation" href="logout">Logout</a></div>
                        </li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="container" style="height: 27px;"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" name="1f"><label style="color: rgb(0,0,0);font-size: 24px;">Order ID</label><input class="form-control getinput" type="text" name="orderno" style="width: 226px;"><button class="btn btn-primary " type="submit" name="bt" value="button1" style="margin: 10px 0px 10px 0px;">Search</button></form>
            </div>
            <div class="col">
                <form method="post" name="2f"><label style="color: rgb(0,0,0);font-size: 24px;">Order Date</label><input class="form-control getinput" name="orderdate" type="date"><button class="btn btn-primary" type="submit" name="bt" value="button2" style="margin: 10px 0px 10px 0px;">Search</button></form>
            </div>
            <div class="col">
                <form method="post" name="3f"><label style="color: rgb(0,0,0);font-size: 25px;">Status</label><select class="form-control getinput" name="orderstatus"><optgroup label="Select"><option value="12" selected="">Pending</option><option value="13">Received</option></optgroup></select>
                    <button class="btn btn-primary" type="submit" name="bt" value="button3"style="margin: 10px 0px 10px 0px;">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
						<th>C_ID</th>
                        <th>Order ID</th>
						<th>Product ID</th>
                        <th>Company Name</th>
                        <th style="width: 156px;">Product Name</th>
                        <th>Quantity</th>
                        <th>Order Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
					{% for row in table %}
				    <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
					<td>{{row[4]}}</td>
					<td>{{row[5]}}</td>
					<td>{{row[6]}}</td>
					<td>{{row[7]}}</td>
				    </tr>
					{% endfor %}
				</tbody>
            </table>
        </div>
    </div>
	
	
	
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
	
</body>

</html>