<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Confirmation</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body style="background-color: rgb(220,190,112);">
    <div class="container">
        <h1 style="margin: 30px 0px 20px 500px;">CONFIRMATION</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col">
                <p style="font-size: 21px;"><strong>Product ID: {{info[0]}} <br>Product Name: {{info[1]}}<br>Company Name: {{info[2]}}<br>Quantity: {{info[3]}}<br>Order Date: {{info[4]}}<br></strong></p>
            </div>
        </div>
    </div>
    <div class="container">
        <p style="font-size: 23px;margin: 20px 0px 20px 100px;">TOTAL AMOUNT: RS.{{info[5]}}</p>
    </div>
    <div class="container">
        <form method="post"><button class="btn btn-primary" type="submit" name="bt" value="place" style="padding: 10px;margin: 20px 0px 0px 100px;">Place Order</button><button class="btn btn-primary" type="submit" name="bt" value="cancel" style="margin: 20px 0px 0px 20px;height: 46px;width: 104px;">Cancel</button></form>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>