<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Place Order</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body style="background-image: url(&quot;static/img/bg1.jpg&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;color: rgb(5,61,84);">
    
	
	<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

  {% with messages =get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for c,m in messages %}

            <div class="alert alert-{{ c }}">
            <a href="#" class="close" data-dismiss='alert' aria-label="close">&times;</a>

                {{m}}
            </div>

            {% endfor %}
            {% endif %}
            {% endwith %}
     

     
    </div>
  </header><!-- #header -->
	
	
	
	<div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="padding: 16px;font-size: 19px;">
            <div class="container"><a class="navbar-brand" href="dashboard_m" style="font-size: 40px;">Pharmacy</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="dashboard_m">Dashboard</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="stock_m">Stock</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="order_list_m">Order List</a></li>
                      
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="place_order_m">Place Order</a></li>
						<li class="nav-item" role="presentation"><a class="nav-link" href="products_m">Products</a></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Others</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="profile_m">Profile</a><a class="dropdown-item" role="presentation" href="corporate_order_m">Corporate Customer Orders</a><a class="dropdown-item" role="presentation" href="selling_reports_m">Selling Reports</a><a class="dropdown-item" role="presentation" href="logout">Logout</a></div>
                        </li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <div class="container" style="height: 100px;"></div>
    <div class="container" style="margin: 0px 0px;">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-5 offset-lg-0 offset-xl-0" style="width: 378px;margin: 0px 0px 0px 150px;">
                <form method="post">
                    <div class="form-group"><label style="font-size: 21px;color: rgb(0,0,0);">Product ID</label><input class="form-control" type="number" name="productID"></div>
                    <div class="form-group"><label style="font-size: 21px;color: rgb(0,0,0);">Quantity</label><input class="form-control" type="number" name="quantity" maxlength="3" required></div>
					<button class="btn btn-primary" type="submit" name="bt" value="bt1" style="background-color: rgb(4,78,91);width: 139px;">ORDER</button>
				</form></div>
            <div class="col"></div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>